{% extends 'layout.html.twig' %}

{% block content %}
    <article id="jumbotron" data-slide>
        <div class="vertical-center">
            <h1>QC</h1>
            <p>Quite Concise Programming Language</p>
            <p><a href="#info"><span class="fa fa-thumbs-up"></span> Find out more!</a></p>
        </div>
    </article>

    <article id="info" data-slide>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2><span class="fa fa-comment"></span> Code sample</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text-justify">
                        The idea is to create a <strong>simple</strong> (in terms of complexity, not ease of use)
                        programming language, that will have quite a <strong>concise syntax</strong>,
                        that will play with the <strong>power of Unicode</strong> and most importantly –
                        will be <strong>fun to create</strong> ;)
                    </p>
                    <p class="text-justify">
                        The code below returns the
                        <a href="https://en.wikipedia.org/wiki/Collatz_conjecture" target="_blank">Collatz sequence</a>
                        for a number (or an array of numbers) given as input:
                    </p>
                    <pre class="pre">(⪑☯1:{Aa⇓↓a1>:aa2%a3*1+a2/▲=}AS⥋)I☯</pre>
                    <p class="text-justify">
                        Corresponding PHP code is shown on the side. Obviously, it's much longer,
                        however clearer and more readable. But where's the fun in <em>that</em>?
                    </p>
                    <p class="text-justify">
                        If you're looking for a more esoteric experience than the languages
                        which are, well... <em>useful</em>... then QC is a way to go!
                    </p>
                    <p class="text-justify">
                        Interested?
                    </p>
                </div>
                <div class="col-6">
                    <pre class="pre">function collatz($a) {
    if (!is_array($a)) {
        return doCollatz($a);
    }
    $output = [];
    foreach ($a as $num) {
        $output[] = doCollatz($num);
    }
    return $output;
}

function doCollatz($a) {
    $list = [];
    while (($list[] = $a) && $a > 1) {
        $a = $a % 2 ? 3 * $a + 1 : $a / 2;
    }
    return implode(' ', $list);
}

return collatz($input);</pre>
                </div>
            </div>
            <div class="row nextPage">
                <p class="text-center"><a href="#details"><span class="fa fa-send"></span> Sure! How can I try it out?</a></p>
            </div>
        </div>
    </article>

    <article id="details" data-slide="last">
        <div class="vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-4 text-center">
                        <h2>
                            <a href="http://docs.avris.it/qc" target="_blank">
                                <span class="fa fa-book"></span> Read the docs
                            </a>
                        </h2>
                    </div>
                    <div class="col-4 text-center">
                        <h2>
                            <a href="{{ route('run') }}" target="_blank">
                                <span class="fa fa-gears"></span> Try it online!
                            </a>
                        </h2>
                    </div>
                    <div class="col-4 text-center">
                        <h2>
                            <a href="https://gitlab.com/Avris/QC" target="_blank">
                                <span class="fa fa-github"></span>
                                Check out repo
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-offset-7 col-5">
                    <p>
                        <img src="{{ asset('assetic/gfx/logo.png') }}" alt="QC Logo" id="logo"/>
                        <strong>QC</strong>
                        <br/>
                        <small>
                            <a href="http://avris.it" target="_blank"><span class="fa fa-user"></span> Andrzej Prusinowski</a>
                            <br/>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.en" target="_blank">
                                <img src="{{ asset('assetic/gfx/cc.png') }}" class="license" alt="Creative Commons"/>
                                <img src="{{ asset('assetic/gfx/by.png') }}" class="license" alt="Attribution"/>
                                <img src="{{ asset('assetic/gfx/sa.png') }}" class="license" alt="Share alike"/>
                            </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}