<div data-url="{{ route('run', {id: execution.id}) }}"></div>
{% if execution.result is not null %}
    <div class="alert {{ execution.status ? 'alert-success' : 'alert-danger' }}">
        {% if execution.isSuiteMode %}
            <strong>{{ execution.status ? 'Successful!' : 'Failed!' }}</strong>
            <pre>{{ execution.result.success }} / {{ execution.result.all }}</pre>
        {% else %}
            <strong>{{ execution.status ? 'Response:' : 'Exception:' }}</strong>
            <pre>{{ execution.result }}</pre>
        {% endif %}
    </div>

    <div class="alert alert-info">
        <strong>Code size:</strong> {{ execution.codeSize }}
    </div>

    {% if execution.output.getOutput|length %}
        <div class="alert alert-info">
            <strong>Output:</strong>
            <pre>{{ execution.output.getOutput|join('') }}</pre>
        </div>
    {% endif %}

    {% if execution.output.steps|length %}
        <table class="table table-striped table-condensed">
            <tr><th>Token</th><th>Stack</th><th>Variables</th>
                {% for step in execution.output.steps %}
            <tr>
                <td>{{ step.token }}</td>
                <td>{{ step.stack }}</td>
                <td>{{ step.variables }}</td>
            </tr>
            {% endfor %}
            {% if execution.output.limitReached %}
                <tr><td colspan="3" class="text-center">Debug output lines limit reached...</td></tr>
            {% endif %}
        </table>
    {% endif %}

    {% if execution.output.tests|length %}
        <table class="table table-striped table-condensed">
            <tr><th>Input</th><th>Expected</th><th colspan="2">Actual</th>
                {% for test in execution.output.tests %}
            <tr>
                <td>{{ test.input }}</td>
                <td>{{ test.expectedOutput }}</td>

                {% if test.exception %}
                    <td colspan="2" class="danger">{{ test.exception }}</td>
                {% else %}
                    <td>{{ test.actualOutput }}</td>
                    {% if test.ok %}
                        <td class="success text-center">✓</td>
                    {% else %}
                        <td class="danger text-center">✗</td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endif %}