{% extends 'layout.html.twig' %}

{% block content %}
    <article id="run">
        <form method="post" action="{{ route('run', {id: execution.id}) }}">
            <div class="col-12">
                <nav>
                    <ul>
                        <li>
                            <a href="{{ route('home') }}">
                                <img src="{{ asset('assetic/gfx/logo.png') }}" alt="QC Logo">
                            </a>
                        </li>
                        <li>
                            <a href="{{ route('home') }}">
                                <span class="fa fa-home"></span>
                                <span class="long">Homepage</span>
                                <span class="short">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://docs.avris.it/qc">
                                <span class="fa fa-book"></span>
                                <span class="long">Documentation</span>
                                <span class="short">Docs</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/Avris/QC">
                                <span class="fa fa-github"></span>
                                <span class="long">Repository</span>
                                <span class="short">Repo</span>
                            </a>
                        </li>
                        {% if demos|length %}
                            <li>
                                <div class="btn-group">
                                    <a href="#" data-toggle="dropdown">
                                        <span class="fa fa-paper-plane"></span>
                                        <span class="long">Demos</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for demo in demos %}
                                            <li>
                                                <a href="{{ route('run', {id: demo.id}) }}">
                                                    {{ demo.demoName }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                        <li>
                            <a href="http://avris.it" target="_blank">
                                <span class="fa fa-user"></span>
                                <span class="long">Avris.it</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-6">
                {{ form|raw }}

                <div class="btn-group btn-group-justified">
                    <span class="btn-group"><a href="{{ route('run') }}" class="btn btn-default btn-sm btn-block" data-confirm="Are you sure you want to clean up?"><span class="fa fa-plus-circle"></span> New</a></span>
                    <span class="btn-group"><button type="submit" class="btn btn-default btn-sm btn-block" name="save" value="save"><span class="fa fa-save"></span> Run & save</button></span>
                    <span class="btn-group"><button type="submit" class="btn btn-primary btn-sm btn-block" name="run"><span class="fa fa-gears"></span> Run</button></span>
                </div>

                <div id="output">
                    {% include 'Home/output.html.twig' %}
                </div>
            </div>
            <div class="col-6 unfocus">
                <div class="input-group">
                    <input id="search" type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
                <div class="table-responsive table-bordered">
                    {{ reference|raw }}
                </div>
            </div>
        </form>
    </article>
{% endblock %}