<!DOCTYPE html>
<html lang="{{ app.locale|slice(0,2) }}">
<head>
    <meta charset="utf-8">
    <title>QC • Quite Concise Programming Language</title>
    <meta name="description" content="The idea is to create a simple (in terms of complexity, not ease of use) programming language, that will have quite a concise syntax, that will play with the power of Unicode and most importantly – will be fun to create ;)">
    <meta name="keywords" content="qc,php,programming,programming language,concise,esoteric">
    <meta name="author" content="Andrzej Prusinowski <andrzej@avris.it>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="http://qc.avris.it/assetic/gfx/banner.png" />
    <link rel="shortcut icon" href="{{ asset('assetic/gfx/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset(assets.css) }}">
</head>
<body>

{% block content %}{% endblock %}

<script src="{{ asset(assets.js) }}"></script>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" type="text/css" rel="stylesheet" />
</body>
</html>
