{% extends 'layout.html.twig' %}

{% block content %}
    <article id="jumbotron" data-slide>
        <div class="vertical-center">
            <h1>QC</h1>
            <p>Quite Concise Programming Language</p>
            <p class="error-number"><strong>Error {{ errorCode }}, sorry...</strong></p>
            <p><a href="{{ route('home') }}"><span class="fa fa-home"></span> Back to homepage</a></p>
        </div>
    </article>
{% endblock %}