$rwdLg: 760px

form
  nav > ul
    display: inline-block
    list-style-type: none
    padding: 0
    margin-top: 0
    > li
      position: relative
      float: left
      vertical-align: middle
      margin-right: 2em
      img
        height: 1.6em
        width: 1.6em
        margin-left: 8px
    @media (min-width: $rwdLg)
      .long
        display: inline
      .short
        display: none
    @media (max-width: $rwdLg)
      li
        margin-right: 1em
      .long
        display: none
      .short
        display: inline
  textarea
    width: 100%
    min-height: 160px
    max-width: 100%
    font-size: 1em
    font-family: "Ubuntu mono", monospace
  label[for=Execution_code],
  label[for=Execution_input],
  label[for=Execution_suite],
  label[for=Execution_options]
    display: none
  #output
    margin-top: 32px
    pre
      margin: 0
  .table-responsive
    margin-top: 12px
    @media (min-width: $rwdLg)
      max-height: 400px
    table
      margin-bottom: 0
      th
        background-color: #f5f5f5
      button.insert
        min-width: 30px
  .unfocus
    opacity: 0.7
