$rwdLg: 760px

=cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

=gradient($one, $two, $dir)
  $dirS: left
  $dirR: bottom
  @if $dir == left
    $dirS: top
    $dirR: right
  background: $one
  background: -moz-linear-gradient($dir, $one 0%, $two 100%)
  background: -webkit-gradient(linear, $dirS $dir, $dirS $dirR, color-stop(0%,$one), color-stop(100%,$two))
  background: -webkit-linear-gradient($dir, $one 0%, $two 100%)
  background: -o-linear-gradient($dir, $one 0%, $two 100%)
  background: -ms-linear-gradient($dir, $one 0%, $two 100%)
  background: linear-gradient(to $dirR, $one 0%, $two 100%)


=circle
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%

=vertical-center
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

=shadow4($offset, $blur, $color)
  text-shadow: $offset $offset $blur $color, (-$offset) $offset $blur $color, $offset (-$offset) $blur $color, (-$offset) (-$offset) $blur $color

=bgfull($filename)
  background-image: url('gfx/' + $filename)
  background-color: #000
  background-position: 50% 50%
  background-repeat: no-repeat
  +cover

body
  margin: 0
  padding: 0
  font-family: Ubuntu, "Open Sans", Helvetica, sans-serif
  height: 100%

body, body *
  box-sizing: border-box

article, footer
  padding: 24px 16px

#jumbotron
  text-align: center
  color: #fff
  position: relative
  +bgfull('sea.jpg')
  +shadow4(3px, 9px, #000)
  h1
    font-size: 3.5em
    font-weight: normal
    margin: 0
  p
    font-size: 1.2em
  a
    color: #fff
    &:hover
      color: #aaa

#info
  margin: 0
  p
    line-height: 1.7em
  ul
    list-style-image: url('gfx/checkmark.png')
    li
      line-height: 1.7em
  .nextPage
    margin: 36px 0
    p
      font-size: 1.2em
      text-align: center
    a
      color: #000
      text-decoration: none
      &:hover
        text-decoration: underline

#details
  +bgfull('smoke.jpg')
  color: #fff
  +shadow4(2px, 3px, #000)
  a
    color: #fff
    text-decoration: none
    &:hover
      color: #aaa
      text-decoration: underline
  ul
    margin-left: 16px
    li
      line-height: 1.7em

footer
  line-height: 1.7em
  #logo
    width: 80px
    vertical-align: top
    margin-right: 16px
    float: left
  small
    a
      text-decoration: none
      color: #000
      &:hover
        color: #555
    img
      height: 1em


.vertical-center
  +vertical-center
.text-justify
  text-align: justify
.text-center
  text-align: center

.container
  width: 100%
  max-width: 1000px
  margin: 0 auto

[class^="col-"], [class*=" col-"]
  float: left
  width: 100%
  padding: 0 16px

.row
  margin-left: -16px
  margin-right: -16px
  &:before
    content: " "
    display: table
  &:after
    clear: both
    content: " "
    display: table

@media (min-width: $rwdLg)
  @for $i from 1 through 12
    .col-#{$i}
      width: $i/12 * 100%
  @for $i from 1 through 11
    .col-offset-#{$i}
      margin-left: $i/12 * 100%
  .lg-hide
    display: none

@media (max-width: $rwdLg)
  .sm-hide
    display: none

pre.pre
  display: block
  padding: 9.5px
  margin: 0 0 10px
  font-size: 13px
  line-height: 1.42857143
  color: #333
  word-break: break-all
  word-wrap: break-word
  background-color: #f5f5f5
  border: 1px solid #ccc
  border-radius: 4px

.error-number
  margin-top: 48px